{{!-- start of the main container --}}

<div id="parallax-image">
    <div class="row h-100">
        <div class="col-md-12 align-top">
            <h1 class="text-center">EAT-DA BURGER</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-1">
                    <div class="card-body">
                        <h4 class="card-title">Available Burgers</h4>
                        <hr />
                        <ul class="list-unstyled">
                            {{#each burger}} {{#unless devoured}} {{> burgers/burger-block devoured=true}} {{/unless}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>

            <!-- next card -->

            <div class="col-md-4">
                <div class="card">

                    <div class="card-body">
                        <h4 class="card-title">Devoured Burgers</h4>
                        <hr />
                        <ul class="list-unstyled">
                            {{#each burger}} {{#if devoured}} {{> burgers/burger-block devoured=false}} {{/if}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>

            <!-- next card -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Special Request</h4>
                        <hr />
                        <form>
                            <div class="form-group">
                                <h6>What kind of burger do you want?</h6>
                                <input class="form-control" id="newBurgerName" type="text"
                                    placeholder="Default input" />
                                <br />
                                <button type="button" class="btn btn-info" id="makeBurger">
                                    Order It!
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="parallax-image1"></div>

<footer class="footer">
    <p class="text-center navbar-text">
        Copyright &copy;
    </p>
</footer>