<li>
	{{burger_name}}

	<button class="btn btn-info btn-sm changeDevoured" data-id="{{id}}" data-devouredstate="{{devoured}}">
		{{#if devoured}}Eat Me!{{else}}Make It Again!{{/if}}
	</button>
</li>
<br>